# Rocky Linux 9 aarch64 Kickstart

text
poweroff

lang ja_JP.UTF-8
keyboard --xlayouts='jp'
timezone Asia/Tokyo --utc

url --url=file:///run/install/repo/Minimal

network --bootproto=dhcp --device=link --activate --onboot=on
firewall --enabled --service=ssh
selinux --enforcing

rootpw --plaintext vagrant

user --name=vagrant --password=vagrant --plaintext --groups=wheel

firstboot --disabled
services --enabled=sshd

ignoredisk --only-use=vda
zerombr
clearpart --all --initlabel --disklabel=gpt

part /boot/efi --fstype=efi --size=600 --ondisk=vda
part /boot     --fstype=xfs --size=1024 --ondisk=vda
part swap      --fstype=swap --size=1024 --ondisk=vda
part /         --fstype=xfs --grow --ondisk=vda

bootloader --location=mbr --append="console=ttyAMA0,115200n8"

%packages
@^minimal-environment
sudo
openssh-server
tar
curl
vim-minimal
%end

%post
echo "vagrant ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant

mkdir -p /home/vagrant/.ssh
chmod 0700 /home/vagrant/.ssh

cat > /home/vagrant/.ssh/authorized_keys <<'EOF'
ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6NF8iallvQVp22WDkTkyrtvp9eWW6A8YVr+kz4TjGYe7gHzIw+niNltGEFHzD8+v1I2YJ6oXevct1YeS0o9HZyN1Q9qgCgzUFtdOKLv6IedplqoPkcmF0aYet2PkEDo3MlTBckFXPITAMzF8dJSIFo9D8HfdOV0IAdx4O7PtixWKn5y2hMNG0zQPyUecp4pzC6kivAIhyfHilFR61RGL+GPXQ2MWZWFYbAGjyiYJnAmCP3NOTd0jMZEnDkbUvxhMmBYSdETk1rRgm+R4LOzFUGaHqHDLKLX+FIPKcF96hrucXzcWyLbIbEgE98OHlnVYCzRdK8jlqm8tehUc9c9WhQ== vagrant insecure public key
EOF

chmod 0600 /home/vagrant/.ssh/authorized_keys
chown -R vagrant:vagrant /home/vagrant/.ssh

dnf clean all
rm -rf /tmp/* /var/tmp/*
rm -f /etc/ssh/ssh_host_*
truncate -s 0 /etc/machine-id || true
rm -f /var/lib/dbus/machine-id || true
ln -sf /etc/machine-id /var/lib/dbus/machine-id
cloud-init clean --logs || true
%end
